<!DOCTYPE html>
<html>

<head>
  <!-- jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../css/style.css" media="screen,projection" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/b448568d58.js" crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <title>Project 2</title>
</head>

<body>

  {{!-- <header>
    <nav class="my-nav">
      <div class="nav-wrapper">
        <!-- Background vector created by freepik - www.freepik.com -->
        <a href="#" class="brand-logo center">
          <img src="./images/burger_black.png" alt="hamburger" class="responsive-img">
          Burger Builder
        </a>
      </div>
    </nav>
  </header> --}}

  {{{ body }}}


  <footer class="page-footer"></footer>

  <!--Auth0-->
  <script src="https://cdn.auth0.com/js/auth0-spa-js/1.2/auth0-spa-js.production.js"></script>

  <!-- JavaScript -->
  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/init.js"></script>
  <script type="text/javascript" src="../js/spotify.js"></script>
  <script type="text/javascript" src="../js/three.r95.min.js"></script>
  <script type="text/javascript" src="../js/vanta.birds.min.js"></script>
  <script type="text/javascript" src="../js/vanta.topology.min.js"></script>
  <script type="text/javascript" src="../js/vanta.waves.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  <script>
    VANTA.BIRDS({
      el: "#birds",
      mouseControls: true,
      touchControls: true,
      minHeight: 500.00,
      minWidth: 500.00,
      scale: 1.00,
      scaleMobile: 1.00,
      backgroundColor: 0x90909,
      backgroundAlpha: 1,
      color1: 0x3eff,
      color2: 0xd1ff,
      quantity: 5,
      birdSize: 1,
      wingSpan: 30,
      speedLimit: 5,
      separation: 20,
      alignment: 20,
      cohesion: 20
    });
    VANTA.WAVES({
      el: "#waves",
      color: 0x4b5459,
      shininess: 30,
      waveHeight: 15,
      waveSpeed: 1,
      zoom: 1,
      mouseControls: true,
      touchControls: true,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00
    });
  </script>

</body>

</html>