@import url('https://fonts.googleapis.com/css?family=Poppins|Titan+One&display=swap');

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Titan One', cursive;

$primary-color: #DE1A1A!default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #D78521 !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

$gray-color: lighten(#999, 10%);
$gray-color-light: #F8F8F8;
$white-color: #ffffff;

$primary-shadow: inset 0 0 10px rgba(0,0,0,0.45); 

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $primary-font;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;  
  font-weight: normal;
}

main {
    flex: 1 0 auto;
}

.my-nav {
  background-color: $white-color;

  .brand-logo {

    color: $secondary-color;

    font-family: $secondary-font;

    img {
      max-height: 35px;
      padding-right: 15px;
    }

  }

  @media screen and (min-width: 992px) {

    
    height: 105px;

    .brand-logo {

      padding-top: 15px;
      font-size: 42px;
      color: $secondary-color;
        
      img {
        max-height: 45px;
      }
        
    }
  }
}

.my-header {
  background-image: url("../images/burger_background.png");
  /* Background vector created by freepik - www.freepik.com */  
  background-repeat: repeat;
  color: $white-color;
  box-shadow: $primary-shadow; 

  input {
    font-weight: bold;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid $white-color;
    box-shadow: 0 1px 0 0 $white-color;
  }

}

.btn {
  font-weight: bold;
  font-family: $primary-font;
}

.btn-delete {
  background-color: #000000;
}

footer, .page-footer {
  min-height: 45px;
  background-image: url("../images/burger_background.png");
  /* Background vector created by freepik - www.freepik.com */
  background-repeat: repeat; 
  box-shadow: $primary-shadow;
}

td {
  padding: 15px;
}

table {
  border: 1px solid $gray-color-light;
  border-radius: 5px;
}