<main>
    
<nav class="navbar navbar-light" style="background-color: #02075d;">
    <span style="font-family: 'Futura'; font-weight: normal; font-size: 36px;">Welcome</span>
</nav>

<div class="row " style="margin-top: 25px; text-align: center">
    <h3>Give Me A Break!</h3>
</div>
<div class="row" style="margin-top: 25px; text-align: center">
    <img src="./images/working.png" alt="Working">
</div>
<div class="row" style="margin-top: 25px; text-align: center">
    <h5> Please click <a href="/login">here</a> to login </h5>
</div>




</main>