@import url("https://fonts.googleapis.com/css?family=Poppins|Titan+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura";
  font-weight: normal;
}

main {
  flex: 1 0 auto;
}

.btn {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.btn-delete {
  background-color: #000000;
}

footer, .page-footer {
  min-height: 45px;
  background: #07acf8;
  background-repeat: repeat;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
}

#birds {
  position: relative;
  min-height: 500px;
  display: flex;
  margin-bottom: -30px;
}

#waves {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-bottom: -30px;
}

#topology {
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: -30px;
}

.card {
  flex-direction: row;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.area {
  background: #000000;
  background: -webkit-linear-gradient(to left, #444444, #000000);
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: -30px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #07acf8;
  animation: animate 25s linear infinite;
  bottom: -300px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.background {
  width: 100%;
  height: 100vh;
  background: #3E1E68;
  background-size: cover;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 67%;
  left: 66%;
  animation-duration: 13.8s;
  animation-delay: -13.6s;
  transform-origin: -20vw 4vh;
  box-shadow: 40vmin 0 10.6480062944vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 72%;
  left: 82%;
  animation-duration: 10.4s;
  animation-delay: -4.3s;
  transform-origin: -17vw 0vh;
  box-shadow: -40vmin 0 12.4896393772vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 12%;
  left: 85%;
  animation-duration: 11.4s;
  animation-delay: -4.2s;
  transform-origin: -21vw -13vh;
  box-shadow: -40vmin 0 6.1958744579vmin currentColor;
}
.background span:nth-child(4) {
  color: #583C87;
  top: 14%;
  left: 30%;
  animation-duration: 12.4s;
  animation-delay: -7.2s;
  transform-origin: 15vw 15vh;
  box-shadow: 40vmin 0 13.5953579201vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 90%;
  left: 82%;
  animation-duration: 12.6s;
  animation-delay: -0.2s;
  transform-origin: -9vw 20vh;
  box-shadow: 40vmin 0 12.8449086895vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 19%;
  left: 25%;
  animation-duration: 14.8s;
  animation-delay: -9.9s;
  transform-origin: -24vw -16vh;
  box-shadow: 40vmin 0 6.4374864626vmin currentColor;
}
.background span:nth-child(7) {
  color: #FFACAC;
  top: 38%;
  left: 89%;
  animation-duration: 10.3s;
  animation-delay: -15.4s;
  transform-origin: 5vw -19vh;
  box-shadow: 40vmin 0 7.8184959495vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 45%;
  left: 75%;
  animation-duration: 15.9s;
  animation-delay: -7.9s;
  transform-origin: -3vw -5vh;
  box-shadow: 40vmin 0 11.6647227296vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 99%;
  left: 68%;
  animation-duration: 11.5s;
  animation-delay: -8.8s;
  transform-origin: 9vw -20vh;
  box-shadow: -40vmin 0 12.0188713754vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 67%;
  left: 7%;
  animation-duration: 11.1s;
  animation-delay: -5s;
  transform-origin: -1vw 6vh;
  box-shadow: -40vmin 0 12.19293516vmin currentColor;
}
.background span:nth-child(11) {
  color: #E45A84;
  top: 17%;
  left: 93%;
  animation-duration: 14.5s;
  animation-delay: -14.3s;
  transform-origin: -24vw -1vh;
  box-shadow: 40vmin 0 11.698757226vmin currentColor;
}
.background span:nth-child(12) {
  color: #E45A84;
  top: 97%;
  left: 46%;
  animation-duration: 11.3s;
  animation-delay: -3.8s;
  transform-origin: 4vw 21vh;
  box-shadow: 40vmin 0 5.0686794243vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 17%;
  left: 94%;
  animation-duration: 11.9s;
  animation-delay: -12.7s;
  transform-origin: -18vw -24vh;
  box-shadow: -40vmin 0 10.2139945556vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 53%;
  left: 76%;
  animation-duration: 14.8s;
  animation-delay: -7.8s;
  transform-origin: 21vw 17vh;
  box-shadow: 40vmin 0 9.7893098363vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 39%;
  left: 18%;
  animation-duration: 14.6s;
  animation-delay: -6.1s;
  transform-origin: 23vw 19vh;
  box-shadow: -40vmin 0 10.3597493746vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 92%;
  left: 97%;
  animation-duration: 13s;
  animation-delay: -11.4s;
  transform-origin: -1vw -22vh;
  box-shadow: -40vmin 0 12.4548170171vmin currentColor;
}
.background span:nth-child(17) {
  color: #FFACAC;
  top: 70%;
  left: 44%;
  animation-duration: 11.2s;
  animation-delay: -3.5s;
  transform-origin: 21vw 15vh;
  box-shadow: 40vmin 0 13.5556626013vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 66%;
  left: 32%;
  animation-duration: 11.4s;
  animation-delay: -6.6s;
  transform-origin: -24vw -11vh;
  box-shadow: -40vmin 0 5.3014365722vmin currentColor;
}
.background span:nth-child(19) {
  color: #583C87;
  top: 75%;
  left: 39%;
  animation-duration: 15.3s;
  animation-delay: -5.2s;
  transform-origin: -5vw -16vh;
  box-shadow: 40vmin 0 13.3364899339vmin currentColor;
}
.background span:nth-child(20) {
  color: #FFACAC;
  top: 92%;
  left: 29%;
  animation-duration: 15.8s;
  animation-delay: -6.5s;
  transform-origin: -16vw 18vh;
  box-shadow: 40vmin 0 13.3890856979vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
