@import url("https://fonts.googleapis.com/css?family=Poppins|Titan+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura";
  font-weight: normal;
}

main {
  flex: 1 0 auto;
}

.btn {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.btn-delete {
  background-color: #000000;
}

footer, .page-footer {
  min-height: 45px;
  background: #07acf8;
  background-repeat: repeat;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.45);
}

#birds {
  position: relative;
  min-height: 500px;
  display: flex;
  margin-bottom: -30px;
}

#waves {
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: -30px;
}

#topology {
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: -30px;
}

#middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex-direction: row;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.area {
  background: #000000;
  background: -webkit-linear-gradient(to left, #444444, #000000);
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: -30px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #07acf8;
  animation: animate 25s linear infinite;
  bottom: -300px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.background {
  width: 100%;
  background: #3E1E68;
  background-size: cover;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 39%;
  left: 57%;
  animation-duration: 15.9s;
  animation-delay: -13.3s;
  transform-origin: -20vw 22vh;
  box-shadow: -40vmin 0 7.6297541242vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: 56%;
  left: 14%;
  animation-duration: 15.7s;
  animation-delay: -12.2s;
  transform-origin: -24vw 20vh;
  box-shadow: -40vmin 0 9.4210357518vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 34%;
  left: 58%;
  animation-duration: 12.5s;
  animation-delay: -6.8s;
  transform-origin: 9vw -14vh;
  box-shadow: 40vmin 0 5.159816271vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 59%;
  left: 55%;
  animation-duration: 11.8s;
  animation-delay: -11.7s;
  transform-origin: 23vw 10vh;
  box-shadow: -40vmin 0 8.1509900933vmin currentColor;
}
.background span:nth-child(5) {
  color: #FFACAC;
  top: 16%;
  left: 57%;
  animation-duration: 10.5s;
  animation-delay: -15.8s;
  transform-origin: -2vw -19vh;
  box-shadow: -40vmin 0 10.0937818371vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 20%;
  left: 62%;
  animation-duration: 15.4s;
  animation-delay: -10.6s;
  transform-origin: -7vw -13vh;
  box-shadow: -40vmin 0 8.9098661917vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 29%;
  left: 98%;
  animation-duration: 11.5s;
  animation-delay: -3.7s;
  transform-origin: -24vw 25vh;
  box-shadow: 40vmin 0 7.1179196838vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 62%;
  left: 40%;
  animation-duration: 12s;
  animation-delay: -1.3s;
  transform-origin: 6vw -6vh;
  box-shadow: 40vmin 0 8.6850602633vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 59%;
  left: 40%;
  animation-duration: 12.2s;
  animation-delay: -6.7s;
  transform-origin: 9vw -19vh;
  box-shadow: 40vmin 0 6.7276699576vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 5%;
  left: 70%;
  animation-duration: 15.1s;
  animation-delay: -7.3s;
  transform-origin: 24vw 0vh;
  box-shadow: 40vmin 0 7.107143092vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 81%;
  left: 53%;
  animation-duration: 15.2s;
  animation-delay: -3.6s;
  transform-origin: -4vw 6vh;
  box-shadow: -40vmin 0 8.4296174817vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 26%;
  left: 91%;
  animation-duration: 12.8s;
  animation-delay: -4.4s;
  transform-origin: -18vw 24vh;
  box-shadow: 40vmin 0 12.3410706808vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 74%;
  left: 4%;
  animation-duration: 11.3s;
  animation-delay: -0.7s;
  transform-origin: 4vw 7vh;
  box-shadow: -40vmin 0 9.0051416543vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 54%;
  left: 9%;
  animation-duration: 15s;
  animation-delay: -8.4s;
  transform-origin: 8vw 17vh;
  box-shadow: 40vmin 0 10.6612061512vmin currentColor;
}
.background span:nth-child(15) {
  color: #FFACAC;
  top: 56%;
  left: 45%;
  animation-duration: 13.8s;
  animation-delay: -9.6s;
  transform-origin: 24vw -3vh;
  box-shadow: 40vmin 0 14.0605037743vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 99%;
  left: 6%;
  animation-duration: 14.7s;
  animation-delay: -7.9s;
  transform-origin: 20vw 0vh;
  box-shadow: -40vmin 0 6.6730555222vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 63%;
  left: 7%;
  animation-duration: 15.1s;
  animation-delay: -13.1s;
  transform-origin: 15vw 17vh;
  box-shadow: 40vmin 0 7.5076333915vmin currentColor;
}
.background span:nth-child(18) {
  color: #583C87;
  top: 24%;
  left: 15%;
  animation-duration: 12.9s;
  animation-delay: -7.1s;
  transform-origin: -18vw -19vh;
  box-shadow: 40vmin 0 8.9933840581vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 92%;
  left: 46%;
  animation-duration: 13.7s;
  animation-delay: -7s;
  transform-origin: 0vw 9vh;
  box-shadow: 40vmin 0 5.8302637949vmin currentColor;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: 17%;
  left: 75%;
  animation-duration: 13.4s;
  animation-delay: -4.6s;
  transform-origin: -8vw 2vh;
  box-shadow: 40vmin 0 10.6344751145vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
